html {
    background-image: url("RM_Website_Background.jpg");
    background-repeat: no-repeat;
}
Header {
    margin-top: 4%;
    float: left;
    background-color: #053b00;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    width: 30%;
    padding: 0px;
}
h1 {
    color: #00c4d6;
    font-size: 2.5em;
    font-family: get_schwifty;
    text-shadow: -2px 0px 0px #208D45,
    2px 0px 0px #208D45,
    0px -2px 0px #208D45,
    0px 2px 0px #208D45;
}
button {
    background-color: #208D45;
}
nav {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Ricktified {
    display: none;
}
#Button-Text {
    color: #00c4d6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: -2px 0px 0px #208D45,
    2px 0px 0px #208D45,
    0px -2px 0px #208D45,
    0px 2px 0px #208D45;
    animation: Ricktify-Animation;
    animation-direction: reverse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#Ricktify {
    background:url(RickPortal.webp) no-repeat;
    width: 124px;
    height: 130px;
    border: none;
    animation: Ricktify-Animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#Ricktify:active {
    background:url(RickPortal.webp) no-repeat;
    border: #053b00;
}

#InputContainer {
    padding-top: 20%;
    display: flow-root;
    text-align: center;
    margin: auto;
}
#EpisodeInput {
    margin: auto;
}
@font-face {
    font-family: get_schwifty;
    src: url(get_schwifty.ttf);
}
@keyframes Ricktify-Animation {
    0% {rotate: 0deg;}
    100% {rotate: 359deg;}
}